* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(loginbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.login-container {
    width: 340px;
    height: 360px;
    background:#2c3e50;
    margin: auto;
    margin-top: 180px;
    border-top: 4px solid #1293de;
    padding: 30px;
}

.login-container h3 {
    color: #7f8c8d;
    font-size: 16px;
    text-align: center;
    height:40px;
    border-bottom: 1px solid ;
    margin-bottom: 20px;
}
.forminput {
    width: 100%;
    color: #fff;
    border: 1px solid #1293de;
    background: #34495e;
    font-size: 14px;
    padding: 14px 10px;
    margin-bottom: 20px;
}
input[type='text']:focus {
    /* background-color:#212121; */
}
#login {
    border: none;
    width: 100%;
    height: 44px;
    background: #1293de;
    color: wheat;
    font-weight: bold;
    margin-bottom: 30px;
}
.login-container a {
    text-decoration: none;
    color: #7f8c8d;
    font-family: sans-serif;
    font-size: 12px;
    display: block;
}
.login-container a:hover {
    text-decoration: underline;
}